.spacer {
  flex: 1 1 auto;
}

.desktop-menu {
  display: flex;
  gap: 10px;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }

  .mobile-menu {
    display: block !important;
  }
}

a {
  color: white;
  text-decoration: none;
}
