.logo {
  font-weight: bold;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;

  &:hover {
    text-decoration: underline;
  }
}

